.Boxes {
    width: 100%;
    padding: 24px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 500px !important;
    height: 400px !important;
}

.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--gray);
}

.ui.segment {
    padding: 4px;
    padding-left: 12px;
}

.ui.FileLink {
    width: 200% !important;
}

.ui.Hash {
    overflow-x: scroll;
}

.ui.description {
    max-height: 150px;
}
